

<!-- block_course_ascendants/coursegrid -->
<div class="content block-ascendants-course-grid">
    {{#courses}}
    {{> block_course_ascendants/coursebox}}
    {{/courses}}
</div>
<!-- /block_course_ascendants/coursegrid -->
